html{
	background-color: #4F7CAC;
}

#title {
	text-align: center;
	color: white;
}

.jumbotron {

	background: url(https://images.unsplash.com/photo-1446329360995-b4642a139973?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cee87b8debba5fa366b2f041fcfbbebe&auto=format&fit=crop&w=970&q=80);
	margin-bottom: 0px;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: black 0.3em 0.3em 0.3em;

}

#wrap {
	text-align: center;
	background-color: #4F7CAC;
	width: 100%;

}


#wrap div {
	height: 300px;
	background-color: #EDF0DA;
	border-style: solid;

}

/*Wraps Content and Keeps Proper Background*/

.a{
		text-align: center;
		width: 100%;
		background-color: #4F7CAC;
		padding-left: 180px;
		padding-right:3%;
}

.b{
		text-align: center;
		width: 100%;
		background-color: #4F7CAC;
		padding-left: 5%;
		padding-right:5%;
}

#mathJokes{
		text-align: center;
		width: 100%;
		background-color: #4F7CAC;
		padding-left: 10%;
		padding-right:10%;
}

.a .backgroundSave {
	background-color: #EDF0DA;
	border-style: solid;
}

.b .backgroundSave {
	background-color: #EDF0DA;
	border-style: solid;
}

h1 img {
	height: 40px;
	width: 40px;
}

.bodyBreak {
	height: 20px;
	background-color: #4F7CAC;
}

.sections h2 {
	font-weight: bold;
}

#mathJokes div h1 {
	font-weight: bold;
}

#mathJokes div p {
	font-size: 14pt;
}

#answer {
	display: none;
}

.contentBreak {
	height: 20px;
	background-color: #EDF0DA;
}

button a {
	color: white;
}

p {
	font-size: 14pt;
}

div	h3 {
	font-weight: bold;
}

.sidenav {
    height: 755px; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    margin-top: 295.2px;
    display: none;
    animation-name: bounceInLeft;
    animation-duration: .75s;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* Smartphones (portrait) ----------- */
@media screen and (min-width : 0px) and (max-width : 767px){
    .sidenav {padding-top: 15px; height: 755px}
    .sidenav a {font-size: 18px;}
}

.derFormula{
	height: 50px;
	width: 250px;
}

.components{
	text-align: left;
	font-weight: normal;
}

#derSteps p{
	text-align: left;
	padding-left: 20px;
}

.goal {
	text-align: center;
}
#img1 {
	height: 27px;
	width: 160px;
}
body {
	height: 100%;
}

#toggle{
	position: absolute;
	margin-left: -48%;
}

@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bounceOutLeft {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
}

#copyright {
	text-align: right;
	padding-right: 2%;
	color: white;
}

#exampleShortcut{
	height: 280px;
	width: 488px;
}

.thank li{
	font-size: 20px;
}

#help #box{
	text-align: left;
}